[submodule ".config/nvim/bundle/wal.vim"]
	path = .config/nvim/bundle/wal.vim
	url = https://github.com/dylanaraps/wal.vim.git
[submodule ".config/nvim/bundle/discord.nvim"]
	path = .config/nvim/bundle/discord.nvim
	url = https://github.com/aurieh/discord.nvim.git
[submodule ".config/nvim/bundle/Vundle.vim"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
